@model BinNet.Models.LoginModel
@{
    ViewBag.Title = "Mr. BIN";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<div id="main-content">
    <div><label class="title">Basic </label><input data-bind="value: basicValue"/></div>
    <div><label class="title">Opposite </label><input data-bind="value: oppositeValue"/></div>
    <div><label class="title">Compact </label><input data-bind="value: compactValue"/></div>
    <div><label class="title">C-Style </label><input readonly="readonly" data-bind="value: cStyleValue"/></div>
    <div><label class="title">Signed Dec (java) </label><input readonly="readonly" data-bind="value: signedDecValue"/></div>
</div>

@section scripts {
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/binnet")
}